
/*
colors:

blue: #1e0143;

light-yellow: #ffe606;
medium-yellow: #fdda02; (originally used)
darker-yellow: #fdcd01;
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

/* Scroll Up Button */
#btnScrollTop {
  position: fixed;
  right: 20px;
  bottom: 60px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  opacity: 0;
  background-color: #1e0143;
  color: #fdda02;
  border-color: #fdda02;
  box-shadow: 0 5px 20px rgba(121, 255, 202, 0.3);
  transition: 0.5s;
  cursor: pointer;
  z-index: 99;
}

#btnScrollTop i {
  font-size: 24px;
}

#btnScrollTop.visible {
  opacity: 1;
}

#btnScrollTop:active {
  box-shadow: 0 5px 20px rgba(121, 255, 202, 0.3);
}
/* Scroll Up Button END */

/* buttons */
.btn,
.btn-special {
  display: block;
  padding: 12px 24px;
  margin: 24px;
  text-align: center;
  font-size: 24px;
  transition: 0.4s;
}

.btn {
  background-color: #1e0143;
  border: 2px solid #1e0143;
  color: #fff;
}

.btn-special {
  border: 2px solid #1e0143;
  background-color: #fdda02;
  color: #1e0143;
}

.btn:hover,
.btn-special:hover {
  transform: scale(1.1);
}
/* buttons END */

/* header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 12px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background-color: #1e0143;
}

@media (max-width: 575.98px) {
  header {
    padding: 12px 24px;
  }
}

header ul li {
  display: inline;
  margin: 0 12px;
}

header ul li a {
  color: #fdda02;
  transition: 0.4s;
}

header ul li:hover a {
  color: #fff;
}

.logo-container h1 {
  color: #fdda02;
  font-size: 24px;
}

.logo-container h1 span {
  color: #fff;
}

.header-icons a {
  margin: 0 10px;
}

.header-icons a i {
  color: #fdda02;
  font-size: 18px;
  transition: 0.4s;
}

.header-icons a:hover i {
  color: #fff;
}

@media (max-width: 991.98px){
  .header-icons {
    display: none;
  }
}

.toggle {
  display: none;
}

@media (max-width: 991.98px){
  .toggle {
    display: block;
    width: 40px;
    height: 40px;
    background: url("../img/menu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
    transition: 0.5s;
  }

  .toggle.active {
    background: url("../img/close.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
  }
}
/* header END */

/* hero section */
.hero-section {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #1e0143;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-screen {
  width: 80%;
  height: 70%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 12px rgba(255,255,255,1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-screen h1 {
  color: #fdcd01;
  font-size: 100px;
}

.main-screen h1 span {
  color: #1e0143;
}

.main-screen-img {
  width: 400px;
  height: auto;
}

.main-screen h2 {
  font-size: 42px;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-weight: 300;
}

.main-screen h4 {
  font-size: 24px;
}

.main-screen h4.bigger-sub {
  font-size: 30px;
  margin-bottom: 30px;
}

.btn-container {
  display: flex;
}

.scroll-down-section {
  position: absolute;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.scroll-down-section p,
.scroll-down-section i {
  color: #fff;
}
/* hero section END */

/* about */
.about-section {
  padding-top: 60px;
  padding-bottom: 42px;
}

.about-inner {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 991.98px) {
  .about-inner {
    flex-direction: column;
  }
}

.about-half {
  width: 50%;
}

@media (max-width: 991.98px) {
  .about-half {
    width: 100%;
  }

  .about-half h3 {
    text-align: center;
  }
}
/* about END */

/* services */
.services-section {
  padding-top: 60px;
  padding-bottom: 42px;
}

.services-inner {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
}

.services-box {
  width: 350px;
  height: 450px;
  box-shadow: 0px 0px 12px rgba(0,0,0,0.3);
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px;
}

.services-box:hover {
  transform: scale(1.1);
}

.services-adons-inner {
  width: 80%;
  margin: 0 auto;
}
/* services END */

/* packages */
.packages-section {
  background-color: #eee;
  padding-top: 60px;
  padding-bottom: 42px;
}
/* packages END */

/* contact */
.contact {
  padding-top: 60px;
  padding-bottom: 42px;
}

.contact-inner {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-half {
  width: 50%;
}

.contact-row {
  width: 100%;
}

.contact-row input {
  width: 100%;
  padding: 16px;
  margin-bottom: 6px;
}

textarea {
  width: 100%;
  resize: none;
  padding: 16px;
  margin-bottom: 6px;
  height: 200px;
}

.contact-row-2 input[type='submit'] {
  display: block;
  padding: 12px 30px;
  text-align: center;
  font-size: 18px;
  background-color: #1e0143;
  border: 2px solid #1e0143;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

.contact-row-2 input[type='submit']:hover {
  background-color: #fdda02;
  color: #1e0143;
}
/* contact END */

/* footer */
footer {
  padding: 12px 48px;
  background-color: #1e0143;
}

@media (max-width: 575.98px) {
  footer {
    padding: 12px 24px;
  }
}

.footer-row-1 {
  display: flex;
  padding-top: 24px;
  padding-bottom: 30px;
}

@media (max-width: 991.98px) {
  .footer-row-1 {
    flex-direction: column;
  }
}

.footer-segment-smaller {
  width: 33%;
}

@media (max-width: 991.98px) {
  .footer-segment-smaller {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 575.98px) {
  .footer-segment-smaller {
    margin-bottom: 36px;
  }
}

.footer-segment-smaller h4 {
  color: #fdda02;
  font-size: 24px;
}

.footer-segment-smaller h4 span {
  color: #fff;
}

.footer-segment-smaller p {
  color: #fff;
}

.footer-segment-bigger {
  display: flex;
  width: calc(100% - 33%);
}

@media (max-width: 991.98px) {
  .footer-segment-bigger {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .footer-segment-bigger {
    flex-direction: column;
  }
}

.footer-bigger-box {
  flex: 1;
}

@media (max-width: 575.98px) {
  .footer-bigger-box {
    margin-bottom: 24px;
  }
}

.footer-box-inner {
  margin: 0 auto;
  width: 80%;
}

@media (max-width: 991.98px) {
  .footer-box-inner {
    width: 100%;
  }
}

.footer-box-inner h4 {
  color: #fdda02;
  margin-bottom: 12px;
}

.footer-box-inner ul li {
  margin-bottom: 6px;
}

.footer-box-inner ul li a {
  color: #fff;
  transition: 0.4s;
}

.footer-box-inner ul li:hover a {
  color: #fdda02;
}

.footer-row-2 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}

@media (max-width: 575.98px) {
  .footer-row-2 {
    flex-direction: column;
  }
}

.footer-row-2 p {
  color: #fff;
}

@media (max-width: 575.98px) {
  .footer-row-2 p {
    margin-bottom: 6px;
    font-size: 14px;
  }
}

.footer-row-2 p i {
  color: #fdda02;
}
/* footer END */
